<div>
    <div>
        <p id="logoText">🅶🅾🅻🅳🅴🅽 🅾🆆🅻🆂</p>
    </div>
    <div>
        <img id="logoImg" src="~/Content/Images/goldenOwlR.png" alt="Golden Owl" />
        <img id="logoImg" src="~/Content/Images/goldenOwl.png" alt="Golden Owl" />
    </div>
</div>
<div id="Nav">
    <a href='@Url.Action("Index", "Home")'><img class="navBook" src='@Url.Content("~/Content/Images/Book-Home.png")' /></a>
    <a href='@Url.Action("Index", "Books")'><img class="navBook" src='@Url.Content("~/Content/Images/Book-Books.png")' /></a>
    <a href='@Url.Action("About", "Home")'><img class="navBook" src='@Url.Content("~/Content/Images/Book-About.png")' /></a>
    <a href='@Url.Action("Contact", "Home")'><img class="navBook" src='@Url.Content("~/Content/Images/Book-Contact.png")' /></a>
    <a href='@Url.Action("Register", "Account")'><img class="navBook2" src='@Url.Content("~/Content/Images/Book-Register.png")' /></a>
    <a href='@Url.Action("Login", "Account")'><img class="navBook2" src='@Url.Content("~/Content/Images/Book-LogIn.png")' /></a>
</div>
